<div class="container" style="text-align:center">

  <div *ngIf="cryptoCompareService.isExchangesReady()">
    <div class="mat-display-1 title">
      Crypto Arb Tracker [{{ getSupportedExchangesStr() }}]
    </div>
    <div class="arb-table-container">
      <arb-table *ngIf="cryptoCompareService.arbPairDataStream" class="arb-table-style"></arb-table>
    </div>
    <br>
  
    <mat-grid-list *ngIf="cryptoCompareService.isExchangesReady()" [cols]="exch_grid_cols" rowHeight="400px">
        <mat-grid-tile *ngFor="let exchange_trd_pair of cryptoCompareService.exchangesMap.keys()">
          <trading-pair-card [tickerData]="cryptoCompareService.exchangesMap.get(exchange_trd_pair)"></trading-pair-card>
        </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div *ngIf="!cryptoCompareService.isExchangesReady()">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
</div>



