.container {
    font-family: 'Roboto', sans-serif;
}

.float-right {
    float: right;
}
.title {
    color: #7a8280;
}
.green {
    color: green;
}

.buy-sell-label {
    color: orange;
    padding-right: 5px;
}

.center {
    text-align: center;
}
.normal {
    color: black;
}
.red {
    color: #e53232;
}

.spinner {
    /* position: absolute; */
    margin-top: 10%;
    left: 45%;
}