<mat-card *ngIf="isCardReady()" class="container">
  <mat-card-header class="white">
    <b>{{ tickerData.MARKET}} {{ tickerData.FROMSYMBOL}} / {{ tickerData.TOSYMBOL }}</b>
  </mat-card-header>
  <mat-card-content class="content-container ">
    <mat-list class="left-half">
      <mat-list-item > Price: </mat-list-item>
      <mat-list-item> Last Update: </mat-list-item>
      <mat-list-item> Last Trade Volume (From Currency): </mat-list-item>
      <mat-list-item> Last Trade Volume (To Currency): </mat-list-item>
      <mat-list-item> Volume 24 Hrs: </mat-list-item>
    </mat-list>
    <mat-list class="right-half">
        <mat-list-item> 
          <div [style.color]="priceColor">
            {{getPrice()}}
          </div> 
        </mat-list-item>
        <mat-list-item> {{lastUpdateDate | date :'dd-MMM-yyyy hh:mm:ss z'}} </mat-list-item>
        <mat-list-item> {{tickerData.LASTVOLUME}} {{tickerData.FROMSYMBOL}}</mat-list-item>
        <mat-list-item> {{getLastVolumeTo()}} </mat-list-item>
        <mat-list-item> {{tickerData.VOLUME24HOUR}} {{tickerData.FROMSYMBOL}} </mat-list-item>
      </mat-list>
  </mat-card-content>
</mat-card>